<div class="container my-5">
  <div class="row">
    <div class="offset-sm-1">
      <h2>My page</h2>
    </div>
  </div>
  
  <div>
    <%=attachment_image_tag user, :image,fallback: "no.image.png",size: "100x100"%>
  </div>
  
  <div>
    <p>name: <%= @user.name %></p>
    <p>content: <%= @user.content %></p>
    <p>introduction: <%= @user.introduction %></p>
  </div>
  
  <div>
    <% if user.id == current_user.id %>
     <%= link_to "Edit", edit_user_path(@user.id), class:"btn btn-info" %>
    <% end %>
    <%= link_to "Back", users_path, class:"btn btn-danger" %>
  </div>
</div>
